doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gemini AI
    style.
      body, html {
        background-color: #000000;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white; /* Text color */
      }
      #responseContainer {
        text-align: center;
        color: white; /* Text color */
      }
  body
    h1 Gemini AI #
    form#promptForm(method="post", action="/generate")
      label(for="prompt")
      input(type="text", id="prompt", name="prompt", required)
      button(type="submit") Submit

    #responseContainer
      | ***COME BACK FOR NEW PROMPT 👋
